@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="btn btn-primary" value="Home Page" onclick="location.href='@Url.Action("Index", "Home", new { matrixString = Model.ToString() })'">Home Page</div>

