.matrix-cell {
    background-color: aqua;
    border: 2px solid black;
    height: 100px;
}

.matrix-text {
    text-align: center;
    vertical-align: middle;
    font-size:100%;
    font-weight: bold;
}